html,
body {
    height: 100%;
    font: 13px/24px Roboto,'lucida grande',tahoma,verdana,arial,sans-serifs;
    color: #aaa;
    letter-spacing: 0.01em;
    background: #333333;
}
body .table {
    word-break: normal;
    margin-top: 15px;
}
.table-striped > tbody > tr:nth-of-type(2n+1){
	background-color: transparent;
}
.search-list{
	min-height: 150px;
	max-height: 15opx;
	width:100%;
	float:left;
	margin-right:10px;
}
.category-list{
	width:100%;
	float:left;
	margin-bottom: 20px;
}
.subcategory-search-list{
	min-height: 150px;
	max-height: 15opx;
	width:19%;
	float:left;
	margin-right:10px;
}
label {
    display: block;  
    font-weight: 200; 
}
.layer-b-white{
	padding: 0 20px 50px;
	min-height: 650px;
}
.layer-b-header-white{
	color: #aaa;
}
.layer-sports-header-white{
	font-size: 21px;
	font-weight: 500;
}
.sports-text{
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
}
.thumb-link{
	margin-left:-15px;
	margin-top:10px;
	line-height:5px
}
div.required label:after {
    content: " *";
    color: #ff0000;
}
.navbar-nav{
	padding-top: 0 !important;
}

.navbar-inverse{
	background-color: #3C8DBC;
	border-bottom: 3px solid #367FA9;
}

.navbar-brand{
	font-size: 20px;
	font-weight: 400;
	letter-spacing: .3px;
	line-height: 36px;
	opacity: 1;
	padding: 13px 48px 15px 0;
}

.navbar-inverse .navbar-brand{
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a{
	color: rgba(255, 255, 255, 0.7);
	line-height: 64px;
	height: 64px;
	padding: 0 9px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus{
	background-color: #77BE53;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus{
	background-color: transparent;
	border-bottom: 5px solid #fff;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p{
	color: #000;
}
.event-photos{
  padding: 10px 20px;
  margin-bottom: 10px;
}
.event-details{
  padding: 10px 20px;
}
.sports-box-image {
  position: relative;
  float:left;
}
.sports-box {
  position: relative;
  float:left;
  margin-bottom: 10px;
}
.sports-box-header{
  padding-left: 20px;
}
.sports-box-body{
  padding: 20px;
}
.sports-box-footer{
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  padding-bottom: 10px;
  margin-top: -15px;
}
.sports-box-sidebar {
  position: relative;
  float:left;
}
.sports-header{
  margin-top: 0;
}
.category-header{
  margin: -15px -15px 20px -15px;
  padding: 20px 0 5px 15px;
  border-top: 1px solid rgba(89,89,89,.5);
  line-height: 10px;
  font-weight: 300;
  color: #ccc;
  font-size: 15px;
}
.layer-footer-top{
	padding: 25px 75px;
}
.footer-main{
	min-height: 14.0625em;
}
.footer-main-right{
	padding-left: 50px;
	padding-bottom: 20px;
	min-height: 244px;
}
.footer-main-padding1{
	padding: 20px 90px;
	min-height: 244px;
}
.footer-main-padding2{
	padding: 20px 40px;
	min-height: 244px;
}
.footer-main-padding3{
	padding: 20px 50px;
	min-height: 244px;
}
.footer-copyright{
	min-height: 5.0625em;
	padding: 20px 80px;
}
.footer-logo{
	margin-left: -13px;
	margin-top: 15px;
}
.footer {
	color: #fff;
    padding: 0;
}
