html,
body {
    height: 100%;
    font: 13px/24px 'lucida grande',tahoma,verdana,arial,sans-serifs;
    color: #aaa;
    letter-spacing: 0.01em;
}
.layer1{
	padding: 13px 100px 98px 70px;
}
.layer2{
	background-color: #D8DFE2;
	padding: 13px 100px 98px;
}
.layer-white{
	padding: 0px 20px 98px;
}
.sports-text{
	font-size: 13px;
	font-weight: normal;
}
.article-header{
	padding: 20px 20px 20px 20px;
	color: #FEFEFF;	
	margin-top: 0;
}
.article-header-logo{
	width: 80px;
	border-right: 1px solid #BBDEAC;
	margin-right: 15px;	
}
.container {
	width: 930px;
}
.main-nav{
	width: 850px;
	float: left;
	padding-left: 50px !important;
}
.main-header .navbar-nav > li > a{
	height: 50px;
}
.navbar-inverse{
	background-color: #3367D6 !important;
}

.navbar-brand{
	font-size: 20px;
	font-weight: 400;
	letter-spacing: .3px;
	line-height: 36px;
	opacity: 1;
	padding: 13px 48px 15px 0;
}

.navbar-inverse .navbar-brand{
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a{
	color: rgba(255, 255, 255, 0.7);
	line-height: 64px;
	height: 64px;
	padding: 0 9px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 200 !important;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus{
	background-color: transparent !important;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover
{
	
	border-bottom: 5px solid #fff;
}
.navbar-inverse .navbar-nav > .active > a:focus{
	background-color: transparent;
}


.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    
}

.wrap > .container {
    padding: 70px 0 0;
}
.layer-footer-top{
	padding: 25px 75px;
}
.footer-main{
	min-height: 14.0625em;
}
.footer-main-right{
	padding-left: 50px;
	padding-bottom: 20px;
	min-height: 244px;
}
.footer-main-padding1{
	padding: 20px 90px;
	min-height: 244px;
}
.footer-main-padding2{
	padding: 20px 40px;
	min-height: 244px;
}
.footer-main-padding3{
	padding: 20px 50px;
	min-height: 244px;
}
.footer-copyright{
	min-height: 5.0625em;
	padding: 20px 80px;
}
.footer-logo{
	margin-left: -13px;
	margin-top: 15px;
}
.footer {
	color: #fff;
    padding: 0;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    margin-bottom: 0;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
    .nav li > form {
        padding: 3px;
    }
}

.nav > li > form > button:hover {
    text-decoration: none;
}

div.required label:after {
    content: " *";
    color: #ff0000;
}

/* Article style */
.article-item {
    margin-bottom: 15px;
}

.article-item .article-title,
.article-item .article-title a {
    color: inherit;
    margin: 0;
}

.article-item .article-meta,
.article-item .article-meta a {
    color: #7e7e7e;
    font-size: 11px;
    margin-bottom: 2px;
}

.article-item .article-text {
    margin-top: 7px;
}
